.structure-window {
  position: relative;
  z-index: 2;
  height: 370px;
  width: 450px;
  background: #f5fffa;
  text-align: center;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
