.structure-window-outer {
  position: relative;
  /* height: 100%; */
  width: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
}

.structure-window-click-handler {
  width: 100%;
}

.structure-window {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: white;
  text-align: center;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.disable-mouse {
  pointer-events: none;
}

.mouse-disabled-note {
  background-color: #f8f8f8;
  border: 1px solid #999999;
  color: #353434;
  padding: 1px 6px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  user-select: none;
}

.on {
  display: none;
}

.mouse-disabled-note:hover {
  filter: brightness(90%);
}
