.structure-window-outer {
  position: relative;
}

.structure-window {
  position: relative;
  z-index: 2;
  height: 370px;
  width: 450px;
  background: #f5fffa;
  text-align: center;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.disable-mouse {
  pointer-events: none;
}

.mouse-disabled-note {
  background-color: #fafafa;
  border: 1px solid black;
  color: #353434;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  left: 170px;
  z-index: 3;
}
