.structure-window-outer {
  position: relative;
}

.structure-window {
  position: relative;
  z-index: 2;
  height: 370px;
  width: 450px;
  background: white;
  text-align: center;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.disable-mouse {
  pointer-events: none;
}

.mouse-disabled-note {
  background-color: #fff1f1;
  border: 1px solid black;
  color: #353434;
  padding: 2px 6px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  cursor: pointer;
  user-select: none;
}

.on {
  background-color: #e9ffe7;
}

.mouse-disabled-note:hover {
  filter: brightness(90%);
}
