.control-box {
  position: relative;
  z-index: 1;
  height: 95px;
  width: 448px;
  background: rgb(223, 226, 255);
  text-align: center;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 3px;
  margin-top: -15px;
  padding-top: 10px;
  border-radius: 10px;
}

.control-box-row {
  margin: 2px 5px;
}

.supercell-input {
  width: 40px;
}
